
@font-face {
    font-family: 'Asthan';
    src: url('../fonts/Asthan.ttf') format('truetype');
    font-style: normal;
 }
 @font-face {
    font-family: 'Asthan';
    src: url('../fonts/Asthan.ttf') format('truetype');
    font-weight: 800;
 }
